@media (prefers-reduced-motion) {
    .carl__square {
        animation: none;
    }
}

@media (prefers-color-scheme: dark) {
    .carl__square {
        background-color: $sand;
    }
}

@media (prefers-color-scheme: light) {
    .carl__square {
        background-color: $pink;
    }
}

@media (orientation: landscape) {
    .carl__square {
        width: 300px;
        height: 300px;
    }
}

@media (orientation: portrait) {
    .carl__square {
        width: 125px;
        height: 125px;
    }
}
@media (prefers-reduced-motion) {
    .square_emilia {
    animation: none; 
    }
}

@media (prefers-color-scheme: dark ){
    html{
        background-color: #144b66;
    }
}
@media (prefers-color-scheme: light) {
    .square_emilia{
        background-color:#f2668b ;
    }
}
@media (orientation: portrait){
    .square_emilia{
        width: 150px;
        height: 350px;
    }
}

@media (orientation: landscape ){
    .square_emilia{
        width: 350px;
        height: 350px;
    }
}