.carl__square {
    background-color: $navy;
    border-radius: 15%;
    animation: carl__animation 6s ease-in-out infinite;
}

.square_emilia {

    background-color: #011f26;
    animation: emilia_animasjon 1s linear both;
    margin: auto;
    margin-top: 5rem;
}