.square_emilia {

    background-color: #011f26;
    animation: emilia_animasjon 1s linear both;
    margin: auto;
    margin-top: 5rem;
}
html{
    background-color:#e9d5b6;
}

@keyframes emilia_animasjon {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1s;
    }
}



@media (prefers-reduced-motion) {
    .square_emilia {
    animation: none; 
    }
}

@media (prefers-color-scheme: dark ){
    html{
        background-color: #144b66;
    }
}
@media (prefers-color-scheme: light) {
    .square_emilia{
        background-color:#f2668b ;
    }
}
@media (orientation: portrait){
    .square_emilia{
        width: 150px;
        height: 350px;
    }
}

@media (orientation: landscape ){
    .square_emilia{
        width: 350px;
        height: 350px;
    }
}