.ball {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border-radius: 50%;
    margin: 0 auto;
    animation: animation__ball 2s infinite linear;
}

@keyframes animation__ball {
    0% {
        transform: translateY(5em);
    }
    20% {
        transform: translateY(10em);
    }
    50%,
    60% {
        transform: translateY(20em);
    }
    62% {
        transform: translateY(15em);
    }
    80% {
        transform: translateY(10em) rotateZ(180deg);
        border-radius: 10%;
    }
    100% {
        transform: translateY(5em) rotateZ(90deg);
        border-radius: 10%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .ball {
        animation: none;
        border-radius: none;
    }
}

@media (prefers-color-scheme: light) {
    .ball {
        background-color: cadetblue;
    }
}

@media (prefers-color-scheme: dark) {
    .ball {
        background-color: #d6f171;
    }
}

@media (orientation: portrait) {
    .ball {
        width: 120px;
        height: 120px;
        border: rgb(160, 235, 227) 0.3rem dotted;
    }
}

@media (orientation: landscape) {
    .ball {
        background-color: rgb(179, 127, 127);
    }
}